
html{
    text-align: center;
}

.right{
    float: right;
}

.left{
    display: inline-block;
}

.square{
background-color: grey;
border: solid black 1px;
}

.color{
    background-color: black;
    border: solid black 1px;
}

.container {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

