#container {
    background-color: blue;
    height: 300px;
    width: 200px;
}

.unit{
    height: 10px;
    width: 10px;
    background-color: red;
    margin: 1px;
    display: inline-block;
}

.unit-hover{
    background-color: black;
    height: 10px;
    width: 10px;
    margin: 1px;
    display: inline-block;
}